templates/load_DWH1_CHARGING_STATION/load_DWH1_CHARGING_STATION.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"TotalevchargeBlobStorage": {
			"type": "string"
		},
		"TotalevchargeAzSqlDatabase": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/load_DWH1_CHARGING_STATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load data from Blob to DB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "FilePath",
										"value": {
											"value": "$$FILEPATH",
											"type": "Expression"
										}
									},
									{
										"name": "Today",
										"value": {
											"value": "@{utcnow()}",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "IF OBJECT_ID('[STG].[CHARGING_STATION]')  IS NOT NULL TRUNCATE TABLE [STG].[CHARGING_STATION]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "charging_station_pk",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CHARGING_STATION_PK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "location_fk",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LOCATION_FK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "model_fk",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MODEL_FK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FilePath",
											"type": "String"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Today",
											"type": "String"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcFileChargingStation",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "@pipeline().parameters.SourceFile"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_CHARGING_STATION",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "STgToDWH1_EVSE",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Load data from Blob to DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Load_DWH1_Charging_station",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"parameters": {
					"SourceFile": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-19T08:37:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SrcFileChargingStation')]",
				"[concat(variables('factoryId'), '/datasets/STG_CHARGING_STATION')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Load_DWH1_Charging_station')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcFileChargingStation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('TotalevchargeBlobStorage')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Azure Blob"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "charging_station",
						"container": "inputfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "charging_station_pk",
						"type": "String"
					},
					{
						"name": "location_fk",
						"type": "String"
					},
					{
						"name": "model_fk",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_CHARGING_STATION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('TotalevchargeAzSqlDatabase')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CHARGING_STATION_PK",
						"type": "nvarchar"
					},
					{
						"name": "LOCATION_FK",
						"type": "nvarchar"
					},
					{
						"name": "MODEL_FK",
						"type": "nvarchar"
					},
					{
						"name": "FUNCTIONAL_DATE",
						"type": "nvarchar"
					},
					{
						"name": "TECHNICAL_DATE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "STG",
					"table": "CHARGING_STATION"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Load_DWH1_Charging_station')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "STG_CHARGING_STATION",
								"type": "DatasetReference"
							},
							"name": "STGcharginSTATION"
						},
						{
							"dataset": {
								"referenceName": "DWH1_CHARGING_STATION",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DWH1_CHARGING_STATION",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						},
						{
							"name": "AlterRow1"
						},
						{
							"name": "Join1"
						}
					],
					"script": "source(output(\n\t\tCHARGING_STATION_PK as string,\n\t\tLOCATION_FK as string,\n\t\tMODEL_FK as string,\n\t\tFUNCTIONAL_DATE as string,\n\t\tTECHNICAL_DATE as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> STGcharginSTATION\nsource(output(\n\t\tCHARGING_STATION_PK as string,\n\t\tLOCATION_FK as string,\n\t\tMODEL_FK as string,\n\t\tFUNCTIONAL_DATE as integer,\n\t\tTECHNICAL_DATE as date,\n\t\tId as integer,\n\t\tACTIVE as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> source1\nSTGcharginSTATION derive(FUNCTIONAL_DATE = toInteger(left(FUNCTIONAL_DATE,8)),\n\t\tTECHNICAL_DATE = toDate(left(TECHNICAL_DATE,10),'MM/dd/yyyy'),\n\t\tFLAG = 0) ~> DerivedColumn1\nJoin1 alterRow(updateIf(equals(STGcharginSTATION@CHARGING_STATION_PK,source1@CHARGING_STATION_PK)&&equals(source1@TECHNICAL_DATE,DerivedColumn1@TECHNICAL_DATE))) ~> AlterRow1\nDerivedColumn1, source1 join(STGcharginSTATION@CHARGING_STATION_PK == source1@CHARGING_STATION_PK\n\t&& DerivedColumn1@TECHNICAL_DATE == source1@TECHNICAL_DATE,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> Join1\nAlterRow1 sink(input(\n\t\tCHARGING_STATION_PK as string,\n\t\tLOCATION_FK as string,\n\t\tMODEL_FK as string,\n\t\tFUNCTIONAL_DATE as integer,\n\t\tTECHNICAL_DATE as date,\n\t\tId as integer,\n\t\tACTIVE as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:true,\n\tupsertable:false,\n\tkeys:['CHARGING_STATION_PK','TECHNICAL_DATE'],\n\tformat: 'table',\n\tpostSQLs:['update [DWH1].[CHARGING_STATION] Set ACTIVE=0;\\n\\nupdate [DWH1].[CHARGING_STATION] Set ACTIVE=1 \\nwhere TECHNICAL_DATE = (SELECT MAX(TECHNICAL_DATE)\\nFROM [DWH1].[CHARGING_STATION]);'],\n\tmapColumn(\n\t\tCHARGING_STATION_PK = {STGcharginSTATION@CHARGING_STATION_PK},\n\t\tLOCATION_FK = {STGcharginSTATION@LOCATION_FK},\n\t\tMODEL_FK = {STGcharginSTATION@MODEL_FK},\n\t\tFUNCTIONAL_DATE = {DerivedColumn1@FUNCTIONAL_DATE},\n\t\tTECHNICAL_DATE = {DerivedColumn1@TECHNICAL_DATE},\n\t\tACTIVE\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/STG_CHARGING_STATION')]",
				"[concat(variables('factoryId'), '/datasets/DWH1_CHARGING_STATION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH1_CHARGING_STATION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('TotalevchargeAzSqlDatabase')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CHARGING_STATION_PK",
						"type": "nvarchar"
					},
					{
						"name": "LOCATION_FK",
						"type": "nvarchar"
					},
					{
						"name": "MODEL_FK",
						"type": "nvarchar"
					},
					{
						"name": "FUNCTIONAL_DATE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TECHNICAL_DATE",
						"type": "date"
					},
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ACTIVE",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "DWH1",
					"table": "CHARGING_STATION"
				}
			},
			"dependsOn": []
		}
	]
}