df-totalevchargereport/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-totalevchargereport"
		},
		"ChargingStation_event_properties_load_DWH1_CHARGING_STATION_parameters_SourceFile": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.fileName"
		},
		"ChargingStation_event_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/00e7b4b8-476f-48fe-9833-ef747bc8636d/resourceGroups/rg-totalevchargereport-dev-001/providers/Microsoft.Storage/storageAccounts/dlstotalevchargedev001"
		},
		"CpoGroup_event_properties_load_DWH1_CPO_GROUP_parameters_SourceFile": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.fileName"
		},
		"CpoGroup_event_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/00e7b4b8-476f-48fe-9833-ef747bc8636d/resourceGroups/rg-totalevchargereport-dev-001/providers/Microsoft.Storage/storageAccounts/dlstotalevchargedev001"
		},
		"Cpo_event_properties_load_DWH1_CPO_parameters_SourceFile": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.fileName"
		},
		"Cpo_event_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/00e7b4b8-476f-48fe-9833-ef747bc8636d/resourceGroups/rg-totalevchargereport-dev-001/providers/Microsoft.Storage/storageAccounts/dlstotalevchargedev001"
		},
		"EvseModel_event_properties_load_DWH1_EVSE_MODEL_parameters_SourceFile": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.fileName"
		},
		"EvseModel_event_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/00e7b4b8-476f-48fe-9833-ef747bc8636d/resourceGroups/rg-totalevchargereport-dev-001/providers/Microsoft.Storage/storageAccounts/dlstotalevchargedev001"
		},
		"Evse_event_properties_load_DWH1_EVSE_parameters_SourceFile": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.fileName"
		},
		"Evse_event_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/00e7b4b8-476f-48fe-9833-ef747bc8636d/resourceGroups/rg-totalevchargereport-dev-001/providers/Microsoft.Storage/storageAccounts/dlstotalevchargedev001"
		},
		"Location_event_properties_load_DWH1_LOCATION_parameters_SourceFile": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.fileName"
		},
		"Location_event_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/00e7b4b8-476f-48fe-9833-ef747bc8636d/resourceGroups/rg-totalevchargereport-dev-001/providers/Microsoft.Storage/storageAccounts/dlstotalevchargedev001"
		},
		"Transactions_event_properties_load_DWH1_TRANSACTIONS_parameters_SourceFile": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.fileName"
		},
		"Transactions_event_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/00e7b4b8-476f-48fe-9833-ef747bc8636d/resourceGroups/rg-totalevchargereport-dev-001/providers/Microsoft.Storage/storageAccounts/dlstotalevchargedev001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/load_DWH1_CHARGING_STATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load data from Blob to DB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "FilePath",
										"value": {
											"value": "$$FILEPATH",
											"type": "Expression"
										}
									},
									{
										"name": "Today",
										"value": {
											"value": "@{utcnow()}",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "IF OBJECT_ID('[STG].[CHARGING_STATION]')  IS NOT NULL TRUNCATE TABLE [STG].[CHARGING_STATION]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "charging_station_pk",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CHARGING_STATION_PK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "location_fk",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LOCATION_FK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "model_fk",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MODEL_FK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FilePath",
											"type": "String"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Today",
											"type": "String"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcFileChargingStation",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "@pipeline().parameters.SourceFile"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_CHARGING_STATION",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STgToDWH1_EVSE",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Load data from Blob to DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Load_DWH1_Charging_station",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"STGcharginSTATION": {},
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"parameters": {
					"SourceFile": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-19T08:37:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/load_DWH1_CPO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load data from Blob to DB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "FilePath",
										"value": {
											"value": "$$FILEPATH",
											"type": "Expression"
										}
									},
									{
										"name": "Today",
										"value": {
											"value": "@{utcnow()}",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "IF OBJECT_ID('[STG].[CPO]')  IS NOT NULL TRUNCATE TABLE [STG].[CPO]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "cpo_pk",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CPO_PK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "cpo_group_fk",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CPO_GROUP_FK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "business_activity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BUSINESS_ACTIVITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "service_status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SERVICE_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "creation_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CREATION_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "in_service_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IN_SERVICE_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "retired_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RETIRED_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FilePath",
											"type": "String"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Today",
											"type": "String"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcFileCpo",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "@pipeline().parameters.SourceFile"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_CPO",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STgToDWH1_EVSE",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Load data from Blob to DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Load_DWH1_CPO",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"STGCPO": {},
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"parameters": {
					"SourceFile": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-19T08:37:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/load_DWH1_CPO_GROUP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load data from Blob to DB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "FilePath",
										"value": {
											"value": "$$FILEPATH",
											"type": "Expression"
										}
									},
									{
										"name": "Today",
										"value": {
											"value": "@{utcnow()}",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "IF OBJECT_ID('[STG].[CPO_GROUP]')  IS NOT NULL TRUNCATE TABLE [STG].[CPO_GROUP]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "cpo_group_pk",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CPO_GROUP_PK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Today",
											"type": "String"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FilePath",
											"type": "String"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcFileCpoGroup",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "@pipeline().parameters.SourceFile"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_CPO_GROUP",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STgToDWH1_EVSE",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Load data from Blob to DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Load_DWH1_CPO_GROUP",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"STGcharginSTATION": {},
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"parameters": {
					"SourceFile": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-19T08:37:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/load_DWH1_EVSE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load data from Blob to DB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "FilePath",
										"value": {
											"value": "$$FILEPATH",
											"type": "Expression"
										}
									},
									{
										"name": "Today",
										"value": {
											"value": "@{utcnow()}",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "IF OBJECT_ID('[STG].[EVSE]')  IS NOT NULL TRUNCATE TABLE [STG].[EVSE]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "evse_pk",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EVSE_PK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "charging_station_fk",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CHARGING_STATION_FK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "retired_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RETIRED_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "service_status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SERVICE_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "in_service_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IN_SERVICE_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "max_power",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MAX_POWER",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Today",
											"type": "String"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FilePath",
											"type": "String"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcFileEvse",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@pipeline().parameters.SourceFile",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_EVSE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STgToDWH1_EVSE",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Load data from Blob to DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Load_DWH1_EVSE",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"STGcharginSTATION": {},
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"parameters": {
					"SourceFile": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-19T08:37:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/load_DWH1_EVSE_MODEL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load data from Blob to DB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "FilePath",
										"value": {
											"value": "$$FILEPATH",
											"type": "Expression"
										}
									},
									{
										"name": "Today",
										"value": {
											"value": "@{utcnow()}",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "IF OBJECT_ID('[STG].[EVSE_MODEL]')  IS NOT NULL TRUNCATE TABLE [STG].[EVSE_MODEL]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "model_pk",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MODEL_PK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "manufacturer",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MANUFACTURER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Today",
											"type": "String"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FilePath",
											"type": "String"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcFileEvseModel",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "@pipeline().parameters.SourceFile"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_EVSE_MODEL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STgToDWH1_EVSE",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Load data from Blob to DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Load_DWH1_EVSE_MODEL",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"STGcharginSTATION": {},
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"parameters": {
					"SourceFile": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-19T08:37:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/load_DWH1_LOCATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load data from Blob to DB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "FilePath",
										"value": {
											"value": "$$FILEPATH",
											"type": "Expression"
										}
									},
									{
										"name": "Today",
										"value": {
											"value": "@{utcnow()}",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "IF OBJECT_ID('[STG].[LOCATION]')  IS NOT NULL TRUNCATE TABLE [STG].[LOCATION]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "location_pk",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LOCATION_PK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "cpo_fk",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CPO_FK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "country_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COUNTRY_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "zip_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ZIP_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LATITUDE",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LONGITUDE",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Today",
											"type": "String"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FilePath",
											"type": "String"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcFileLocation",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "@pipeline().parameters.SourceFile"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_LOCATION",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STgToDWH1_EVSE",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Load data from Blob to DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Load_DWH1_LOCATION",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"STGcharginSTATION": {},
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"parameters": {
					"SourceFile": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-19T08:37:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/load_DWH1_TRANSACTIONS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load data from Blob to DB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "FilePath",
										"value": {
											"value": "$$FILEPATH",
											"type": "Expression"
										}
									},
									{
										"name": "Today",
										"value": {
											"value": "@{utcnow()}",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "IF OBJECT_ID('[STG].[TRANSACTIONS]')  IS NOT NULL TRUNCATE TABLE [STG].[TRANSACTIONS]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "evse_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EVSE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "token_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TOKEN_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "auth_method",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AUTH_METHOD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "emsp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EMSP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "session_start_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SESSION_START_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "session_stop_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SESSION_STOP_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "connector_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CONNECTOR_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "consumed_energy",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CONSUMED_ENERGY",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "session_duration",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SESSION_DURATION",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "max_power",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MAX_POWER",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "compliance",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COMPLIANCE",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "taxed_price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TAXED_PRICE",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "non_taxed_price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NON_TAXED_PRICE",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CURRENCY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Today",
											"type": "String"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FilePath",
											"type": "String"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcFileTransactions",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@pipeline().parameters.SourceFile",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "STG_TRANSACTIONS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "STgToDWH1_TRANSACTION",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Load data from Blob to DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Load_TRANSACTION",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"STGTANSACTION": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"parameters": {
					"SourceFile": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-19T08:37:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/load_DWH1_TO_DWH2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_ChargingStation",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "CLOSING_DATE",
										"value": {
											"value": "@{UTCNOW()}",
											"type": "Expression"
										}
									},
									{
										"name": "date_functional",
										"value": {
											"value": "@{pipeline().parameters.Functional_Date}",
											"type": "Expression"
										}
									}
								],
								"sqlReaderQuery": "select * from [DWH1].[CHARGING_STATION] where ACTIVE=1;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CHARGING_STATION_PK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CHARGING_STATION_PK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOCATION_FK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LOCATION_FK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MODEL_FK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MODEL_FK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "date_functional"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CLOSING_DATE"
										},
										"sink": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DWH1_CHARGING_STATION",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DWH2_CHARGING_STATION",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load_CPO",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load_ChargingStation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "CLOSING_DATE",
										"value": {
											"value": "@{UTCNOW()}",
											"type": "Expression"
										}
									},
									{
										"name": "date_functional",
										"value": {
											"value": "@{pipeline().parameters.Functional_Date}",
											"type": "Expression"
										}
									}
								],
								"sqlReaderQuery": "select * from [DWH1].[CPO] where ACTIVE=1;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CPO_PK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CPO_PK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CPO_GROUP_FK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CPO_GROUP_FK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BUSINESS_ACTIVITY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BUSINESS_ACTIVITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SERVICE_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SERVICE_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CREATION_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "CREATION_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "IN_SERVICE_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "IN_SERVICE_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "RETIRED_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "RETIRED_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CLOSING_DATE"
										},
										"sink": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "date_functional"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DWH1_CPO",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DWH2_CPO",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load_CPOGroup",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load_CPO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "CLOSING_DATE",
										"value": {
											"value": "@{UTCNOW()}",
											"type": "Expression"
										}
									},
									{
										"name": "date_functional",
										"value": {
											"value": "@{pipeline().parameters.Functional_Date}",
											"type": "Expression"
										}
									}
								],
								"sqlReaderQuery": "select * from [DWH1].[CPO_GROUP] where ACTIVE=1;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CPO_GROUP_PK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CPO_GROUP_PK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "date_functional"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CLOSING_DATE"
										},
										"sink": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DWH1_CPO_GROUP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DWH2_CPO_GROUP",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load_EVSE",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load_CPOGroup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "CLOSING_DATE",
										"value": {
											"value": "@{UTCNOW()}",
											"type": "Expression"
										}
									},
									{
										"name": "date_functional",
										"value": {
											"value": "@{pipeline().parameters.Functional_Date}",
											"type": "Expression"
										}
									}
								],
								"sqlReaderQuery": "select * from [DWH1].[EVSE] where ACTIVE=1;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EVSE_PK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EVSE_PK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CHARGING_STATION_FK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CHARGING_STATION_FK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RETIRED_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "RETIRED_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SERVICE_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SERVICE_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IN_SERVICE_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "IN_SERVICE_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "MAX_POWER",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "MAX_POWER",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "date_functional"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CLOSING_DATE"
										},
										"sink": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DWH1_EVSE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DWH2_EVSE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load_EVSE_Model",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load_EVSE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "CLOSING_DATE",
										"value": {
											"value": "@{UTCNOW()}",
											"type": "Expression"
										}
									},
									{
										"name": "date_functional",
										"value": {
											"value": "@{pipeline().parameters.Functional_Date}",
											"type": "Expression"
										}
									}
								],
								"sqlReaderQuery": "select * from [DWH1].[EVSE_MODEL] where ACTIVE=1;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MODEL_PK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MODEL_PK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MANUFACTURER",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MANUFACTURER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "date_functional"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CLOSING_DATE"
										},
										"sink": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DWH1_EVSE_MODEL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DWH2_EVSE_MODEL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load_Location",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load_EVSE_Model",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "CLOSING_DATE",
										"value": {
											"value": "@{UTCNOW()}",
											"type": "Expression"
										}
									},
									{
										"name": "date_functional",
										"value": {
											"value": "@{pipeline().parameters.Functional_Date}",
											"type": "Expression"
										}
									}
								],
								"sqlReaderQuery": "select * from [DWH1].[LOCATION] where ACTIVE=1;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "LOCATION_PK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LOCATION_PK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CPO_FK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CPO_FK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CITY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COUNTRY_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "COUNTRY_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZIP_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ZIP_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LATITUDE",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "LATITUDE",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "LONGITUDE",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "LONGITUDE",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "date_functional"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CLOSING_DATE"
										},
										"sink": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DWH1_LOCATION",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DWH2_LOCATION",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load_Transactions",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load_Location",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "CLOSING_DATE",
										"value": {
											"value": "@{UTCNOW()}",
											"type": "Expression"
										}
									},
									{
										"name": "date_functional",
										"value": {
											"value": "@{pipeline().parameters.Functional_Date}",
											"type": "Expression"
										}
									}
								],
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "IF OBJECT_ID('[DWH2].[TRANSACTIONS]')  IS NOT NULL TRUNCATE TABLE [DWH2].[TRANSACTIONS];\n",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EVSE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EVSE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TOKEN_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TOKEN_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AUTH_METHOD",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AUTH_METHOD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EMSP",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EMSP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SESSION_START_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "SESSION_START_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SESSION_STOP_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "SESSION_STOP_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CONNECTOR_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CONNECTOR_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CONSUMED_ENERGY",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CONSUMED_ENERGY",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SESSION_DURATION",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SESSION_DURATION",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "MAX_POWER",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "MAX_POWER",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "COMPLIANCE",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "COMPLIANCE",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "TAXED_PRICE",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "TAXED_PRICE",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "NON_TAXED_PRICE",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "NON_TAXED_PRICE",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "CURRENCY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CURRENCY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "date_functional"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CLOSING_DATE"
										},
										"sink": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DWH1_TRANSACTIONS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DWH2_TRANSACTIONS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load_DM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_Transactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_DATAMARTS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Archive DWH2_Charging_Station",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load_ChargingStation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CHARGING_STATION_PK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CHARGING_STATION_PK",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LOCATION_FK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LOCATION_FK",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MODEL_FK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MODEL_FK",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DWH2_CHARGING_STATION",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ArchFileChargingStation",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Archive DWH2_CPO",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load_CPO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CPO_PK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CPO_PK",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CPO_GROUP_FK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CPO_GROUP_FK",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "BUSINESS_ACTIVITY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BUSINESS_ACTIVITY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SERVICE_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SERVICE_STATUS",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CREATION_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "CREATION_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									},
									{
										"source": {
											"name": "IN_SERVICE_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "IN_SERVICE_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									},
									{
										"source": {
											"name": "RETIRED_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "RETIRED_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									},
									{
										"source": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DWH2_CPO",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ArchSrcFileCpo",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Archive DWH2_CPO_GROUP",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load_CPOGroup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CPO_GROUP_PK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CPO_GROUP_PK",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									},
									{
										"source": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DWH2_CPO_GROUP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ArchFileCpoGroup",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Archive DWH2_EVSE",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load_EVSE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EVSE_PK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EVSE_PK",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CHARGING_STATION_FK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CHARGING_STATION_FK",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "RETIRED_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "RETIRED_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									},
									{
										"source": {
											"name": "SERVICE_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SERVICE_STATUS",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "IN_SERVICE_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "IN_SERVICE_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									},
									{
										"source": {
											"name": "MAX_POWER",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "MAX_POWER",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									},
									{
										"source": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DWH2_EVSE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ArchFileEvse",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Archive DWH2_EVSE_MODEL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load_EVSE_Model",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MODEL_PK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MODEL_PK",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MANUFACTURER",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MANUFACTURER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									},
									{
										"source": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DWH2_EVSE_MODEL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ArchFileEvseModel",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Archive DWH2_Location",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load_Location",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "LOCATION_PK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LOCATION_PK",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CPO_FK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CPO_FK",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CITY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CITY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COUNTRY_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "COUNTRY_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ZIP_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ZIP_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LATITUDE",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "LATITUDE",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "LONGITUDE",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "LONGITUDE",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									},
									{
										"source": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DWH2_LOCATION",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ArchFileLocation",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Archive DWH2_Transactions",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load_Transactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EVSE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EVSE_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TOKEN_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TOKEN_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "AUTH_METHOD",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AUTH_METHOD",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "EMSP",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EMSP",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SESSION_START_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "SESSION_START_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									},
									{
										"source": {
											"name": "SESSION_STOP_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "SESSION_STOP_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									},
									{
										"source": {
											"name": "CONNECTOR_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CONNECTOR_TYPE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CONSUMED_ENERGY",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CONSUMED_ENERGY",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "SESSION_DURATION",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SESSION_DURATION",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "MAX_POWER",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "MAX_POWER",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "COMPLIANCE",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "COMPLIANCE",
											"type": "Boolean",
											"physicalType": "Boolean"
										}
									},
									{
										"source": {
											"name": "TAXED_PRICE",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "TAXED_PRICE",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "NON_TAXED_PRICE",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "NON_TAXED_PRICE",
											"type": "Double",
											"physicalType": "Double"
										}
									},
									{
										"source": {
											"name": "CURRENCY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CURRENCY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TECHNICAL_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									},
									{
										"source": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FUNCTIONAL_DATE",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "CLOSING_DATE",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DWH2_TRANSACTIONS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ArchFileTransactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"parameters": {
					"Functional_Date": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-19T08:37:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ChargingStation_event')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "load_DWH1_CHARGING_STATION",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFile": "[parameters('ChargingStation_event_properties_load_DWH1_CHARGING_STATION_parameters_SourceFile')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/inputfiles/blobs/charging_station/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('ChargingStation_event_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/load_DWH1_CHARGING_STATION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CpoGroup_event')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "load_DWH1_CPO_GROUP",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFile": "[parameters('CpoGroup_event_properties_load_DWH1_CPO_GROUP_parameters_SourceFile')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/inputfiles/blobs/cpo_group/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('CpoGroup_event_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/load_DWH1_CPO_GROUP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cpo_event')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "load_DWH1_CPO",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFile": "[parameters('Cpo_event_properties_load_DWH1_CPO_parameters_SourceFile')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/inputfiles/blobs/cpo/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('Cpo_event_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/load_DWH1_CPO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EvseModel_event')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "load_DWH1_EVSE_MODEL",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFile": "[parameters('EvseModel_event_properties_load_DWH1_EVSE_MODEL_parameters_SourceFile')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/inputfiles/blobs/evse_model/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('EvseModel_event_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/load_DWH1_EVSE_MODEL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Evse_event')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "load_DWH1_EVSE",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFile": "[parameters('Evse_event_properties_load_DWH1_EVSE_parameters_SourceFile')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/inputfiles/blobs/evse/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('Evse_event_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/load_DWH1_EVSE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Location_event')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "load_DWH1_LOCATION",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFile": "[parameters('Location_event_properties_load_DWH1_LOCATION_parameters_SourceFile')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/inputfiles/blobs/location/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('Location_event_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/load_DWH1_LOCATION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transactions_event')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "load_DWH1_TRANSACTIONS",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourceFile": "[parameters('Transactions_event_properties_load_DWH1_TRANSACTIONS_parameters_SourceFile')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/inputfiles/blobs/transaction/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('Transactions_event_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/load_DWH1_TRANSACTIONS')]"
			]
		}
	]
}